{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
    Published {{ post.publish }} by {{ post.author }}
    </p>
{{ post.body|linebreaks }}
<!-- adding the share.html part -->
<!-- we are building the URL dynamically using the {%
url %} template tag provided by Django. We are using the namespace
called blog and the URL named post_share -->

<p>
    <a href="{% url 'blog:post_share' post.id %}">
        Share this post
    </a>
    
</p>

{% endblock %}