{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}
{% block content %}
    <h1>My Blog</h1>
    {% for post in posts %}
    <h2>
        <!-- including a link in the
title to the canonical URL of the post. -->
        <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
        </a>
    </h2>
        <p class="date">
        Published {{ post.publish }} by {{ post.author }}
        </p>
        <!-- truncatewords truncates the value to the
number of words specified -->
<!-- linebreaks converts the output into HTML line breaks -->
    {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
{% endblock %}